@import 'ext/solarized-light';

div.highlighter-rouge {
	margin: 40px 0;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 2em;
	background-color: #f4f4f4;
	border-radius:10px;
	padding:9px;
}
