<!DOCTYPE html>
<html lang="en">
<head>
  {%- include head.html -%}
</head>
<body>
  <header class="texture-{{ site.texture.style }}">
    <div class="container">
      {%- include nav.html -%}
    </div>
    {%- include post_header.html -%}
  </header>
  <main>
    <div class="container">
      <div class="post-container">
          {{ content }}
      </div>
      <br/>

      <h2>Share Your Thoughts</h2>
      <button class="btn btn-primary" type="submit">Login</button>
      <button class="btn btn-primary" type="submit">Sign Up</button>
      <form class="form-group" action="" method="post">
        <textarea id="comment" name="comment" class="form-control text-area" rows="5"></textarea>
        <button style="margin-top:1.1em;"class="btn btn-primary" type="submit">Comment</button>
      </form>
      <ul class="list-group">
        <li class="list-group-item"></li>
      </ul>
      
    </div>
  </main>
  {%- include footer.html -%}
</body>
</html>